In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [3]:
cursor1 = conn.cursor()
#Get a quick count of total characters
cursor1.execute('SELECT COUNT(*) FROM charactercreator_character;')
print(cursor1.fetchone())

(302,)

In [4]:
#Only way I could think to get individual class counts
cursor1.execute('SELECT COUNT(*) FROM charactercreator_cleric;')
print(cursor1.fetchone())
cursor1.execute('SELECT COUNT(*) FROM charactercreator_mage;')
print(cursor1.fetchone())
cursor1.execute('SELECT COUNT(*) FROM charactercreator_fighter;')
print(cursor1.fetchone())
cursor1.execute('SELECT COUNT(*) FROM charactercreator_thief;')
print(cursor1.fetchone())
cursor1.execute('SELECT COUNT(*) FROM charactercreator_necromancer;')
print(cursor1.fetchone())

(75,)
(108,)
(68,)
(51,)
(11,)

In [5]:
#Count of total items available in game
cursor1.execute('SELECT COUNT(*) FROM armory_item')
print(cursor1.fetchone())

(174,)

In [6]:
#How many items are weapons
cursor1.execute('SELECT COUNT(*) FROM armory_weapon')
print(cursor1.fetchone()) #174-37 = 137 items are not weapons

(37,)

In [7]:
cursor1.close()

In [9]:
cursor2 = conn.cursor()
#Count for total number of items in each character's inventory
cursor2.execute('''SELECT COUNT(*) FROM charactercreator_character_inventory
                   INNER JOIN armory_item
                   WHERE charactercreator_character_inventory.item_id = armory_item.item_id
                   GROUP BY charactercreator_character_inventory.character_id;''')

item_list = []
for item in cursor2.fetchall():
    item_list.append(item[0])
item_list

[3,
 3,
 2,
 4,
 4,
 1,
 5,
 3,
 4,
 4,
 3,
 3,
 4,
 4,
 4,
 1,
 5,
 5,
 3,
 1,
 4,
 3,
 3,
 1,
 2,
 2,
 5,
 1,
 4,
 4,
 3,
 2,
 2,
 4,
 5,
 5,
 5,
 5,
 3,
 3,
 2,
 3,
 1,
 1,
 4,
 1,
 4,
 4,
 4,
 1,
 3,
 2,
 5,
 1,
 4,
 1,
 3,
 4,
 4,
 4,
 2,
 1,
 5,
 3,
 5,
 5,
 1,
 4,
 3,
 3,
 3,
 1,
 1,
 2,
 1,
 1,
 4,
 3,
 1,
 3,
 5,
 4,
 3,
 4,
 5,
 5,
 1,
 4,
 2,
 2,
 5,
 5,
 4,
 4,
 5,
 5,
 3,
 2,
 1,
 5,
 5,
 3,
 5,
 5,
 3,
 4,
 1,
 4,
 1,
 1,
 1,
 2,
 2,
 5,
 5,
 1,
 4,
 5,
 5,
 3,
 3,
 2,
 3,
 1,
 3,
 1,
 3,
 3,
 5,
 1,
 3,
 4,
 3,
 4,
 5,
 4,
 3,
 3,
 5,
 3,
 1,
 5,
 2,
 1,
 4,
 4,
 1,
 4,
 3,
 3,
 3,
 3,
 4,
 3,
 4,
 5,
 1,
 1,
 3,
 5,
 2,
 2,
 3,
 1,
 5,
 4,
 2,
 1,
 1,
 4,
 4,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 2,
 1,
 5,
 1,
 4,
 4,
 4,
 2,
 1,
 2,
 1,
 4,
 3,
 2,
 4,
 5,
 1,
 4,
 5,
 5,
 3,
 1,
 5,
 1,
 1,
 1,
 2,
 5,
 1,
 2,
 1,
 3,
 1,
 2,
 2,
 1,
 1,
 3,
 3,
 2,
 1,
 4,
 4,
 2,
 2,
 1,
 3,
 2,
 4,
 2,
 3,
 1,
 3,
 4,
 5,
 1,
 5,
 1,
 1,
 5,
 3,
 3,
 3,
 1,
 3,
 4,
 5,
 3,
 5,
 1,
 4,
 4,
 5,
 2,
 2,
 1,
 2,
 2,
 3,
 4,
 5,
 4,
 5,
 4,
 4,
 5,
 3,
 5,
 4,
 1,
 1,
 1,
 2,
 2,
 3,
 3,
 2,
 1,
 1,
 1,
 2,
 5,
 5,
 4,
 4,
 1,
 5,
 1,
 5,
 3,
 5,
 5,
 4,
 2,
 2,
 5,
 2,
 3,
 4,
 2,
 3,
 1,
 2,
 5]

In [10]:
cursor3 = conn.cursor()
#Total weapons in each players' inventory
cursor3.execute('''SELECT COUNT(*) FROM charactercreator_character_inventory
                 INNER JOIN armory_weapon
                 WHERE charactercreator_character_inventory.item_id = item_ptr_id
                 GROUP BY charactercreator_character_inventory.character_id;''')

weap_list = []
for weap in cursor3.fetchall():
    weap_list.append(weap[0])
weap_list

[2,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 2,
 3,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 3,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1]

In [11]:
#I chose to put the above into lists because they were coming out
#of the fetchall as tuples and I couldn't work with them
weap_avg = sum(weap_list)/len(weap_list)
item_avg = sum(item_list)/len(item_list)
print(weap_avg, item_avg)

1.3096774193548386 2.9735099337748343

In [ ]:
#To demonstrate LIMIT command
cursor3.execute('''SELECT COUNT(*) FROM charactercreator_character_inventory
                 INNER JOIN armory_weapon
                 WHERE charactercreator_character_inventory.item_id = item_ptr_id
                 GROUP BY charactercreator_character_inventory.character_id
                 LIMIT 20;''')
cursor2.execute('''SELECT COUNT(*) FROM charactercreator_character_inventory
                   INNER JOIN armory_item
                   WHERE charactercreator_character_inventory.item_id = armory_item.item_id
                   GROUP BY charactercreator_character_inventory.character_id
                   LIMIT 20;''')